@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans&family=Dancing+Script&family=Vujahday+Script&display=swap');
body{
    background-color: lavenderblush;
    
}
#container1{
    
    height: auto;
    width:70%;
    border: 1px solid black;
    box-shadow:6px 5px 2px grey;
    border-radius:50px ;
    margin:7em auto;
  
    justify-content: center;
    font-family: 'Dancing Script', cursive;
    text-align: center;
    text-shadow: 2px 4px pink;
    font-size: larger;
    background-color:whitesmoke;

}
#container2{
    height: auto;
    width:70%;
    border: 1px solid black;
    box-shadow:6px 5px 2px grey;
    padding: 50px;
    border-radius:50px ;
    
    margin: 5em auto;
    justify-content: center;
    font-family: 'Vujahday Script', cursive;
    text-align: center;
    text-shadow: 1px 2px rgb(245, 216, 216);
   font-weight: bold;
    font-size: 25px;
    background-color:whitesmoke;

}
button{
    border-radius: 4px;
border: 1px solid black;
background-color: pink;
height: 30px;
z-index: 100;
cursor: pointer;

}
button:hover{
    background-color: lightcoral;
    font-weight: bold;
    transition: 1s ease-out;
}
textarea{
    border: 2px solid black;
    border-style: dotted;
    font-family: 'Balsamiq Sans', cursive;
    font-size: 20px;
    font-weight: bold;

}
input{
    padding: 5px;
    border: 2px solid black;
}
